<!DOCTYPE html>
<html>
    <head>
        <title style="text-align:center">Anarkitty: Order Cloned Kittens</title> 
    </head>
    <body>
        
                    <!-- HEADER TEXT -->
        <h1 style="text-align:center;">
            Click the kitten to order! You can order several of each!
            Hint: the pics are buttons
        </h1>
        

                    <!-- VOTING SECTION -->
        <form method="POST" action="/">

                    <!-- BUTTON 1 -->
            <button type="submit" value="voteCat1" name="voteCat1">

                    <!-- TEXT 1 -->
            <h1 style="text-align:middle;">
               Kitten #1
            </h1>

                    <!-- IMAGE 1 -->
            <img src="{{ user_image }}" alt="User Image">


                    <!-- BUTTON 2 -->
            <button type="submit" value="voteCat2" name="voteCat2">

                    <!-- TEXT 2 -->
            <h1 style="text-align:middle;">
                Kitten #2
            </h1>

                    <!-- IMAGE 2 -->
            <img src="{{ user_image2 }}" alt="User Image">

        </form>

    </body>
</html>
